.pre_loader_item{
	border: 2px solid #f3f3f3;
    border-top: 2px solid #2980b9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#map{
	min-height: 400px;
}
.item{
	width: 100%;
	min-height: 300px;
	overflow: hidden;
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
	border-radius: 5px;
}
.item-image{
	background: #008080;
	background-position: center;
	background-size: cover;
	min-height: 300px;
	height: 100%;
}
.item-content{
	padding: 5px;
	padding-left: 10px;
}
.item-content h4{
	font-size: 2em;
}
.con-con-row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="con-con-col-"] {
    float: left;
    padding: 15px;
}
.con-con-col-1 {width: 8.33%;}
.con-con-col-2 {width: 16.66%;}
.con-con-col-3 {width: 25%;}
.con-con-col-4 {width: 33.33%;}
.con-con-col-5 {width: 41.66%;}
.con-con-col-6 {width: 50%;}
.con-con-col-7 {width: 58.33%;}
.con-con-col-8 {width: 66.66%;}
.con-con-col-9 {width: 75%;}
.con-con-col-10 {width: 83.33%;}
.con-con-col-11 {width: 91.66%;}
.con-con-col-12 {width: 100%;}
.shareBtn{
	background-color: #3B5998;
}
.maps-show{
	background-color: #db3236;
}
.shareBtn:hover,
.shareBtn:active,
.shareBtn:focus,
.shareBtn:active:focus,
.maps-show:hover,
.maps-show:active,
.maps-show:focus,
.maps-show:active:focus{
	color: #ffffff;
	text-decoration: none;
}
